*{
    font-size: arial, helvetica, sans-serif;
    font-size: 20px;
}

body {
    background-color: white;
}

h1{
    font-size: 1.5em;
    color: rgb(14, 13, 12);
}

img.centro {
  
    width: 300px;
    height: 250px;

}

img.lado {
    float: none;
    width: 550px;
    height: 350px;

}

main {

    background-color: white ;
    width: 580px;
    margin: auto;
    padding:10px;
    box-shadow:3px 3px 5px rgb(24, 19, 19) ;
}
